
<form action="/bands/<%= @band.id %>/update" method="post">
<label class="form-label" for="band_name">Band Name</label>
<input type="text" name="band_name" value="<%= @band.band_name %>">
<button type="submit" name="update">Save</button>
</form>


<h4>Upcoming Venues</h4>
<table class="table table-striped table-bordered table-condensed">
<tr>
  <th>Venue</th>
  <th>Date</th>
</tr>
<% @band.gigs.each do |g| %>
<tr>
  <td><%= g.venue.venue_name %></td>
  <td><date><%= g.gig_date %></date></td>
    <td><a href="/bands/<%= @band.id %>/gig/<%= g.id %>/delete">Delete</a></td>
</tr>
<% end %>
</table>

<h4>Add a Gig</h4>
<form class="" action="/bands/<%= @band.id %>/gig/add" method="post">
  <select name="venue_id">
    <% @venues.each do |v| %>
    <option value="<%= v.id %>"><%= v.venue_name %></option>
    <% end %>
  </select>
<input type="datetime-local" name="gig_date" value="">
<button type="submit" name="name" value="">Add Gig</button>
</form>
